@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Common CSS */
.page-id-53074 section.hero-banner,
.page-id-53074 section.hassle-free,
.page-id-53074 section.high-performance,
.page-id-53074 section.performance-card,
.page-id-53074 section.love-kinsta,
.page-id-53074 section.migrate-more {
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* overflow: hidden; */
}

.page-id-53074 .hero-banner .container,
.page-id-53074 .hassle-free .container,
.page-id-53074 .high-performance .container,
.page-id-53074 .performance-card .container,
.page-id-53074 .love-kinsta .container,
.page-id-53074 .migrate-more .container {
    max-width: 1440px !important;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.page-id-53074 .hero-banner .container .content,
.page-id-53074 .hassle-free .container .content,
.page-id-53074 .high-performance .container .content,
.page-id-53074 .performance-card .container .content,
.page-id-53074 .love-kinsta .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 25px;
}

.page-id-53074 .hassle-free .container .content .text,
.page-id-53074 .high-performance .container .content .text,
.page-id-53074 .migrate-more .container .content .text,
.page-id-53074 .hassle-free .container .content .figure,
.page-id-53074 .high-performance .container .content .figure,
.page-id-53074 .migrate-more .container .content .figure {
    flex-basis: 50%;
    width: 50%;
}

.page-id-53074 .high-performance .text .head h2,
.page-id-53074 .hassle-free .text .head h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #1D1D1D;
    margin-bottom: 20px;
}

.page-id-53074 .high-performance .text .paragraph p,
.page-id-53074 .hassle-free .text .paragraph p,
.page-id-53074 .hassle-free .text .list p,
.page-id-53074 .performance-card .container .card h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1D1D1D;
}

.page-id-53074 .performance-card.top-notch .container .card h2 {
    height: 46px;
}

.page-id-53074 .high-performance .img,
.page-id-53074 .hassle-free .img {
    width: 100%;
    position: relative;
}

.page-id-53074 .high-performance .img::after,
.page-id-53074 .hassle-free .img::after {
    content: '';
    position: absolute;
    border: 1px solid #33ADF8;
    width: calc(100% - 35px);
    height: calc(100% + 24px);
    right: 50px;
    top: -12px;
    z-index: 1;
    border-radius: 10px;
}

.page-id-53074 .high-performance .img img,
.page-id-53074 .hassle-free .img img {
    border-radius: 10px;
    max-width: 825px;
    width: 100%;
    padding: 25px;
    position: relative;
    z-index: 10;
}

.page-id-53074 .performance-card .container .card p a,
.page-id-53074 .high-performance .text .paragraph p a {
    text-decoration: none;
    color: #33ADF8;
    cursor: pointer;
}

/* < !-- Gap --> */
.page-id-53074 .gap {
    height: 120px;
    background-color: #f1f5fe;
}

/* < !-- Hero banner section top --> */
.page-id-53074 section.hero-banner {
    background-color: #002576;
    background-image: url("../svg/hero-banner-background.svg");
    padding-top: 120px;
}

.page-id-53074 .hero-banner .container .content .text {
    flex-basis: 55%;
    width: 55%;
}

.page-id-53074 .hero-banner .container .content .figure {
    flex-basis: 45%;
    width: 45%;
}

.page-id-53074 .hero-banner .container .head h2 {
    font-weight: 700;
    color: #fff;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 40px;
}

.page-id-53074 .hero-banner .container .paragraph p {
    color: #fff;
    font-size: 16px;
    line-height: 23.36px;
    margin-bottom: 0;
}

.page-id-53074 .hero-banner .container .paragraph .pg-5 {
    font-weight: 500;
}

.page-id-53074 .hero-banner .container .paragraph .pg-4 {
    font-weight: 400;
}

.page-id-53074 .hero-banner .container .btn {
    padding-left: 0;
}

.page-id-53074 .hero-banner .container .btn a {
    margin-top: 40px;
    background-color: #33ADF8;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #33ADF8;
    width: 256px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.page-id-53074 .hero-banner .container .btn a:hover {
    color: #002576;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.page-id-53074 .hero-banner .container .figure .img {
    position: relative;
}

.page-id-53074 .hero-banner .container .figure .img::after {
    position: absolute;
    content: url("../svg/hero-banner-circuit.svg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 65px;
    right: 0px;
}

.page-id-53074 .hero-banner .container .figure .img img {
    max-width: 620px;
    width: 100%;
    padding: 40px;
    display: block;
    margin: auto;
}

/* < !-- Hassle-Free Migrations --> */
.page-id-53074 section.hassle-free {
    background-color: #f1f5fe;
}

.page-id-53074 .hassle-free .img::after {
    left: 50px;
}

/*.page-id-53074 .hassle-free .container .content{*/
/*    gap: 20px;*/
/*}*/

.page-id-53074 .hassle-free .text {
    padding-left: 70px;
}

.page-id-53074 .hassle-free .text .list {
    margin-top: 40px;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.page-id-53074 .hassle-free .text .list p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-bottom: 0px;
}

.page-id-53074 .hassle-free .text .paragraph p {
    margin-bottom: 0px;
}

/* < !-- Built For High-Performance --> */

.page-id-53074 section.high-performance {
    background-color: #fff;
}

.page-id-53074 .high-performance .img::after {
    right: 50px;
}

.page-id-53074 .high-performance .text {
    padding-right: 70px;
}

.page-id-53074 .high-performance .text .paragraph p {
    margin-bottom: 0px;
}

/* < !-- High-Performance Card --> */
.page-id-53074 section.performance-card {
    background-color: #f1f5fe;
    position: relative;
    height: 300px;
}

.page-id-53074 .performance-card .container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -55%;
    z-index: 100;
}

.page-id-53074 .performance-card .container .content {
    gap: 40px;
    padding: 0 25px 120px;
}

.page-id-53074 .performance-card .container .card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 20px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09);
    flex-basis: 33%;
    text-align: center;
}

.page-id-53074 .performance-card .container .card .logo {
    margin-bottom: 40px;
}

.page-id-53074 .performance-card .container .card h2 {
    margin-bottom: 20px;
    color: #002576;
    font-weight: 500;
}

.page-id-53074 .performance-card.top-notch .container .card .paragraph p {
    margin-bottom: 0px;
}

.page-id-53074 .performance-card .container .card p {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.page-id-53074 .performance-card .container .card .paragraph {
    min-height: 165px;
    height: 100%;
}

.page-id-53074 .performance-card.top-notch .container .card .paragraph {
    min-height: 100px;
}

/* < !-- We love kinsta --> */
.page-id-53074 section.love-kinsta {
    background-color: #E1EEFC;
}

.page-id-53074 .love-kinsta .container .content {
    padding-bottom: 0px;
}

.page-id-53074 .love-kinsta.kinsta-1 .container .content {
    padding-bottom: 120px;
}

.page-id-53074 .love-kinsta .container .content-mobile {
    padding: 40px 25px 120px;
}

.page-id-53074 .love-kinsta .figure {
    flex-basis: 25%;
    padding-right: 70px;
}

.page-id-53074 .love-kinsta.kinsta-1 .figure {
    padding-right: 0px;
}

.page-id-53074 .love-kinsta .figure .img img {
    max-width: 397px;
    width: 100%;
    padding: 10px;
    display: block;
    margin: auto;
}

.page-id-53074 .love-kinsta .figure .title {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.page-id-53074 .love-kinsta .figure .title h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #1D1D1D;
}

.page-id-53074 .love-kinsta .figure .title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #4F4F4F;
}

.page-id-53074 .love-kinsta .text {
    flex-basis: 75%;
}

.page-id-53074 .love-kinsta.kinsta-1 .text {
    padding-left: 70px;
}

.page-id-53074 .love-kinsta .text .head h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    color: #4F4F4F;
    margin-bottom: 40px;
}

.page-id-53074 .love-kinsta .text .paragraph p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #1D1D1D;
    margin-bottom: 40px;
}

.page-id-53074 .love-kinsta .cards {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.page-id-53074 .love-kinsta .cards.mobile {
    display: none;
}

.page-id-53074 .love-kinsta .text .cards .card,
.page-id-53074 .love-kinsta .cards.mobile .card {
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(#E1EEFC, #E1EEFC) padding-box,
        linear-gradient(to bottom, #002576, #33ADF8) border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    min-height: 230px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}

.page-id-53074 .love-kinsta .text .card h2,
.page-id-53074 .love-kinsta .cards.mobile .card h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    color: #1D1D1D;
    margin-bottom: 18px;
}

.page-id-53074 .love-kinsta .text .card p,
.page-id-53074 .love-kinsta .cards.mobile .card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #1D1D1D;
    margin-bottom: 10px;
}

.page-id-53074 .love-kinsta .text .card p span,
.page-id-53074 .love-kinsta .text .card p.speed,
.page-id-53074 .love-kinsta .cards.mobile .card p span,
.page-id-53074 .love-kinsta .cards.mobile .card p.speed {
    color: #33ADF8;
}

/* < !-- Migrate More --> */
.page-id-53074 section.migrate-more {
    background-color: #e5e4e4;
}

.page-id-53074 .migrate-more .container .contents {
    padding: 120px 25px 100px;
}

.page-id-53074 .migrate-more .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.page-id-53074 .migrate-more .container .content .figure .img {
    width: 100%;
}

.page-id-53074 .migrate-more .container .content .figure .img img {
    max-width: 750px;
    width: 100%;
}

.page-id-53074 .migrate-more .title {
    text-align: center;
    color: #1D1D1D;
}

.page-id-53074 .migrate-more .title h2 {
    font-weight: 600;
    font-size: 48;
    line-height: 64px;
    margin-bottom: 20px;
}

.page-id-53074 .migrate-more .title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.page-id-53074 .migrate-more .table {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 0px;
}

.page-id-53074 .migrate-more .table-head {
    background-color: #002576;
    border-radius: 20px 20px 0px 0px;
    padding: 15px;
    color: #fff;
    display: flex;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    text-align: left;
    gap: 15px;
}

.page-id-53074 .migrate-more .table-head span {
    flex: 1 1 33%;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.page-id-53074 .migrate-more .table-body .trs {
    padding: 20px;
    color: #333333;
    display: flex;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    text-align: left;
    border-bottom: 1px solid #E0E0E0;
    gap: 15px;
}

.page-id-53074 .migrate-more .table-body .trs span {
    flex: 1 1 33%;
    font-size: 16px;
    line-height: 23.36px;
    font-weight: 500;
}

.page-id-53074 .migrate-more .table-body .trs span.tr3 {
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 400;
}

.page-id-53074 .migrate-more .table-footer p {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    line-height: 22.4px;
    /*position: relative;*/
    padding: 30px 20px;
    margin-bottom: 0px;
}

/* < !-- High-Performance Card repeat Top Notch Security --> */
.page-id-53074 .performance-card.top-notch-security .container .card h2 {
    padding: 0 20px;
    height: 50px;
}

/* < !-- Hassle-Free Migrations repeat gregghosting-plan--> */

.page-id-53074 .hassle-free.gregghosting-plan .img::after {
    display: none;
}

.page-id-53074 .hassle-free.gregghosting-plan .container .content {
    padding: 0 25px 120px;
}

.page-id-53074 .hassle-free.gregghosting-plan .figure .img .gh-h {
    display: block;
}

.page-id-53074 .hassle-free.gregghosting-plan .figure .img .gh-v {
    display: none;
}

.page-id-53074 .hassle-free.gregghosting-plan .img img {
    padding: 0px;
}

/* < !-- Migrate More repeat perform migration--> */
.page-id-53074 section.migrate-more.perform-migration {
    background-color: #f1f5f1;
}

.page-id-53074 .migrate-more.perform-migration .contents .title p {
    margin-bottom: 40px;
    font-weight: 500;
    color: #333333;
    font-size: 20px;
    line-height: 28px;
}

.page-id-53074 .migrate-more.perform-migration .content {
    align-items: flex-start;
}

.page-id-53074 .migrate-more.perform-migration .content .text p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 30px;
}

.page-id-53074 .migrate-more.perform-migration .content .text p .num {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.page-id-53074 .migrate-more.perform-migration .contents .footer-text {
    font-weight: 500;
    color: #333333;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    display: block;
}

.page-id-53074 .migrate-more.perform-migration .container .content .text {
    text-align: left;
}

/* < !-- Built For High-Performance repeat migrate-dashboard--> */
.page-id-53074 section.high-performance.migrate-dashboard {
    background-color: #282828;
}

.page-id-53074 .high-performance.migrate-dashboard .img::after {
    display: none;
}

.page-id-53074 .high-performance.migrate-dashboard .text h2,
.page-id-53074 .high-performance.migrate-dashboard .text p {
    color: #fff;
}

.page-id-53074 .high-performance.migrate-dashboard .img img {
    padding: 0px;
    max-width: 100%;
}

/* < !-- Migrate More repeat wordpress-sites--> */
.page-id-53074 section.migrate-more.wordpress-sites {
    background: linear-gradient(95.62deg, #002576 4.57%, #33ADF8 97.72%);
    position: relative;
    z-index: 1;
}

.page-id-53074 section.migrate-more.wordpress-sites::before {
    position: absolute;
    width: 417.27px;
    height: 417.27px;
    right: 440px;
    top: -150px;
    background: linear-gradient(187.81deg, rgba(255, 255, 255, 0.42) -35.06%, rgba(255, 255, 255, 0) 47.92%);
    opacity: 0.66;
    border-radius: 50%;
    content: "";
    transform: rotate(29.46deg);
}

.page-id-53074 section.migrate-more.wordpress-sites::after {
    position: absolute;
    width: 236.62px;
    height: 236.62px;
    left: -33px;
    bottom: -76px;
    content: "";
    background: linear-gradient(0deg, rgba(51, 173, 248, 0.05), rgba(51, 173, 248, 0.05)), linear-gradient(191.85deg, rgba(51, 173, 248, 0.29) -21.54%, rgba(51, 173, 248, 0) 37.5%);
    opacity: 0.66;
    border-radius: 50%;
}

.page-id-53074 section.migrate-more.wordpress-sites .content {
    display: block;
    text-align: center;
    padding: 120px 25px;
    max-width: 960px;
    margin: auto;
}

.page-id-53074 section.migrate-more.wordpress-sites .content .head h2 {
    color: #F1F5FE;
    font-size: 64px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 20px;
}

.page-id-53074 section.migrate-more.wordpress-sites .content .paragraph p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 50px;
    margin-bottom: 0px;
}

.page-id-53074 .migrate-more.wordpress-sites .container .btn a {
    margin-top: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    color: #002576;
    width: 256px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    position: relative;
    z-index: 10;
}

.page-id-53074 .migrate-more.wordpress-sites .container .btn a:hover {
    color: #fff;
    background-color: #33ADF8;
    border-color: #33ADF8;
}

/*navbar header*/
/*.page-id-53074 #main-header img.logo-sticky {*/
/*  display: block;*/
/*}*/

/*.page-id-53074 #main-header img.logo{*/
/*  display: none;*/
/*}*/

.page-id-53074 #main-header {
    background-color: #fff !important;
}

.page-id-53074 header.white-text-and-logo.header-style-two .main-header .navbar ul li a.login {
    border-color: #33ADF8;
}

.page-id-53074 header.white-text-and-logo .main-header .navbar ul li a.signup {
    background: #33ADF8 !important;
    border: 2px solid #33ADF8;
    color: #fff !important;
}

.page-id-53074 header.white-text-and-logo .main-header .navbar ul li a.signup:hover {
    background: #fff !important;
    border: 2px solid #33ADF8;
    color: #002576 !important;
}

.page-id-53074 #main-header a.navbar-brand {
    position: relative;
}

/*Slider*/
.page-id-53074 .migration.elementor-element-18d1af2 .owl-item .rating-car-rates {
    display: flex;
}

.page-id-53074 .migration.elementor-element-18d1af2 .owl-item .rating-car-rates img {
    width: 17px;
    height: 17px;
}

.page-id-53074 .elementor-element-18d1af2.migration {
    background-color: #DCE6FB;
}

.page-id-53074 .elementor-element-18d1af2 .elementor-widget-container h2 {
    color: #032375;
    text-align: center;
    margin-bottom: 40px;
}

.page-id-53074 .migration.elementor-element-18d1af2 .elementor-widget-wrap {
    padding: 120px 25px;
}

/*/for 1920 screen design/*/
@media (min-width: 1440px) {
    .page-id-53074 .migrate-more .container .content .figure-2 .img {
        padding-left: 40px;
    }

    .page-id-53074 .migrate-more .container .content .figure-1 {
        flex-basis: 55%;
    }

    .page-id-53074 .migrate-more .container .content .figure-2 {
        flex-basis: 45%;
    }

    .page-id-53074 .love-kinsta .figure .title {
        margin-top: 5px;
    }
}


/*/for 1200 screen design/*/
@media(min-width: 1080px) and (max-width: 1439px) {
    .page-id-53074 .hero-banner .container .head h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .page-id-53074 .hero-banner .container .content .text {
        flex-basis: 50%;
        width: 50%;
    }

    .page-id-53074 .hero-banner .container .figure .img::after {
        top: -10%;
        right: -10%;
    }

    .page-id-53074 .high-performance .text .head h2,
    .page-id-53074 .hassle-free .text .head h2,
    .page-id-53074 .migrate-more .title h2 {
        font-size: 32px;
        line-height: 43.2px;
    }

    .page-id-53074 .love-kinsta .text .head h2 {
        font-size: 28px;
        line-height: 39.2px;
    }

    .page-id-53074 .performance-card .container .card .paragraph {
        min-height: 205px;
    }

    .page-id-53074 .performance-card .container {
        top: -25%;
    }

    .page-id-53074 section.performance-card {
        height: 400px;
    }

    .page-id-53074 .love-kinsta .text .cards .card {
        min-height: 250px;
    }

    .page-id-53074 .migrate-more .container .content {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .page-id-53074 .migrate-more .container .content .figure,
    .page-id-53074 .migrate-more .container .content .text {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }

    .page-id-53074 .migrate-more .container .content .figure .img {
        padding: 10px 0px;
    }

    .page-id-53074 .high-performance.top-notch-security {
        background-color: #f1f5fe;
    }

    .page-id-53074 .performance-card.top-notch .container .card .paragraph {
        min-height: 120px;
    }

    .page-id-53074 .gap {
        display: none;
    }

    .page-id-53074 .performance-card.top-notch .container .card h2 {
        height: 46px;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .figure .img .gh-h {
        display: none;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .figure .img .gh-v {
        display: block;
    }

    .page-id-53074 .migrate-more.perform-migration .contents .footer-text {
        font-size: 18px;
        line-height: 25.2px;
    }

    .page-id-53074 .migrate-more.perform-migration .contents .title p {
        font-size: 14px;
        line-height: 19.6px;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content {
        display: flex;
        flex-direction: column;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content .tex,
    .page-id-53074 .high-performance.migrate-dashboard .container .content .figure {
        width: 100%;
        padding: 0px;
    }

    .page-id-53074 .high-performance.migrate-dashboard .text {
        text-align: center;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content .text p {
        justify-content: flex-start;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content {
        gap: 5px;
        flex-direction: column;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content {
        gap: 30px;
    }

    .page-id-53074 .migration .agency_pages .looking-top-table-content.why-page-cont {
        width: 330px;
    }

    .page-id-53074 section.migrate-more.wordpress-sites .content .head h2 {
        font-size: 40px;
        line-height: 52px;
    }

    .page-id-53074 section.migrate-more.wordpress-sites::before {
        width: 204.79px !important;
        height: 204.79px !important;
        transform: rotate(-120deg);
        right: -20px !important;
        top: -40px !important;
    }

    .page-id-53074 section.migrate-more.wordpress-sites::after {
        left: 0px;
        bottom: -100px;
        width: 236.62px !important;
        height: 236.62px !important;
    }

    .page-id-53074 header .main-header .navbar .sub-main ul li a.iq-button.login {
        color: #002576 !important;
    }

    .page-id-53074 .love-kinsta .figure .title {
        margin-top: 5px;
    }
}

/*/for 1024 screen design/*/
@media(min-width: 930px) and (max-width: 1080px) {

    .page-id-53074 .hero-banner .container .content,
    .page-id-53074 .hassle-free .container .content,
    .page-id-53074 .high-performance .container .content,
    .page-id-53074 .performance-card .container .content,
    .page-id-53074 .love-kinsta.kinsta-1 .container .content,
    .page-id-53074 section.migrate-more.wordpress-sites .content,
    .page-id-53074 .migration.elementor-element-18d1af2 .elementor-widget-wrap {
        padding: 100px 25px;
    }

    .page-id-53074 .love-kinsta .container .content {
        padding-top: 100px;
    }

    .page-id-53074 .love-kinsta .container .content-mobile {
        padding: 40px 25px 100px;
    }

    .page-id-53074 .performance-card .container .content {
        padding: 0 25px 100px;
    }

    .page-id-53074 .page-id-53074 .migrate-more .container .contents {
        padding: 100px 25px 80px;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .container .content {
        padding: 0 25px 100px;
    }

    .page-id-53074 .hero-banner .container .head h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .page-id-53074 .love-kinsta .text .head h2 {
        font-size: 28px;
        line-height: 39.2px;
    }

    .page-id-53074 .hero-banner .container .figure .img::after {
        top: -10%;
        right: -10%;
    }

    .page-id-53074 .high-performance .text .head h2,
    .page-id-53074 .hassle-free .text .head h2,
    .page-id-53074 .migrate-more .title h2 {
        font-size: 32px;
        line-height: 43.2px;
    }

    .page-id-53074 .performance-card .container .card .paragraph {
        min-height: 250px;
    }

    .page-id-53074 .performance-card .container {
        top: -15%;
    }

    .page-id-53074 section.performance-card {
        height: 480px;
    }

    .page-id-53074 .love-kinsta .figure {
        padding-right: 20px;
    }

    .page-id-53074 .love-kinsta .cards.mobile {
        display: inline-flex;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .page-id-53074 .love-kinsta .cards.desktop {
        display: none;
    }

    .page-id-53074 .love-kinsta .cards.mobile .card {
        min-height: 250px;
        padding: 40px 20px 20px;
    }

    .page-id-53074 .migrate-more .container .content {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .page-id-53074 .migrate-more .container .content .figure,
    .page-id-53074 .migrate-more .container .content .text {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }

    .page-id-53074 .migrate-more .title {
        margin-bottom: 40px;
    }

    .page-id-53074 .migrate-more .container .content .figure .img {
        padding: 10px 0px;
    }

    .page-id-53074 .high-performance.top-notch-security {
        background-color: #f1f5fe;
    }

    .page-id-53074 .performance-card.top-notch .container .card .paragraph {
        min-height: 160px;
    }

    .page-id-53074 .performance-card.top-notch .container .card h2 {
        height: 70px;
    }

    .page-id-53074 .gap,
    .page-id-53074 .hassle-free.gregghosting-plan .figure .img .gh-h {
        display: none;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .figure .img .gh-v {
        display: block;
    }

    .page-id-53074 .migrate-more.perform-migration .contents .footer-text {
        font-size: 18px;
        line-height: 25.2px;
    }

    .page-id-53074 .migrate-more.perform-migration .contents .title p {
        font-size: 14px;
        line-height: 19.6px;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content {
        display: flex;
        flex-direction: column;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content .text,
    .page-id-53074 .high-performance.migrate-dashboard .container .content .figure {
        width: 100%;
        padding: 0px;
    }

    .page-id-53074 .high-performance.migrate-dashboard .text {
        text-align: center;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content .text p {
        justify-content: flex-start;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content {
        gap: 5px;
        flex-direction: column;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content {
        gap: 30px;
    }

    .page-id-53074 .migration .agency_pages .looking-top-table-content.why-page-cont {
        width: 330px !important;
    }

    .page-id-53074 .migration #agency_pages .owl-carousel .owl-nav .owl-next,
    .page-id-53074 .migration #agency_pages .owl-carousel .owl-nav .owl-prev {
        height: 500px;
    }

    .page-id-53074 section.migrate-more.wordpress-sites .content .head h2 {
        font-size: 40px;
        line-height: 52px;
    }

    .page-id-53074 section.migrate-more.wordpress-sites::before {
        width: 204.79px !important;
        height: 204.79px !important;
        transform: rotate(-120deg);
        right: -95px !important;
        top: -49px !important;
    }

    .page-id-53074 section.migrate-more.wordpress-sites::after {
        left: -92px;
        bottom: -95px;
        width: 236.62px !important;
        height: 236.62px !important;
    }

    .page-id-53074 header .main-header .navbar .sub-main ul li a.iq-button.login {
        color: #002576 !important;
    }
}


/*/for 768 screen design/*/
@media(min-width: 680px) and (max-width: 930px) {

    .page-id-53074 .hero-banner .container .content,
    .page-id-53074 .hassle-free .container .content,
    .page-id-53074 .high-performance .container .content,
    .page-id-53074 .performance-card .container .content,
    .page-id-53074 section.migrate-more.wordpress-sites .content,
    .page-id-53074 .love-kinsta.kinsta-1 .container .content {
        padding: 80px 25px !important;
    }

    .page-id-53074 .migration .elementor-col-100.elementor-element-8217312 .elementor-widget-wrap.elementor-element-populated {
        padding: 80px 0px !important;
    }

    .page-id-53074 .love-kinsta .container .content {
        padding-top: 80px;
    }

    .page-id-53074 .love-kinsta .container .content-mobile {
        padding: 40px 25px 80px;
    }

    .page-id-53074 .performance-card .container .content {
        padding: 0 25px 80px;
    }

    .page-id-53074 .migrate-more .container .contents {
        padding: 80px 25px 60px;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .container .content {
        padding: 0 25px 80px;
    }

    .page-id-53074 hero-banner .container .head h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .page-id-53074 .hero-banner .container .content,
    .page-id-53074 .hassle-free .container .content,
    .page-id-53074 .high-performance .container .content {
        display: block;
        margin: auto;
    }

    .page-id-53074 .hero-banner .container .content .text,
    .page-id-53074 .hero-banner .container .content .figure,
    .page-id-53074 .hassle-free .container .content .text,
    .page-id-53074 .high-performance .container .content .figure,
    .page-id-53074 .high-performance .container .content .text,
    .page-id-53074 .love-kinsta .container .content .figure,
    .page-id-53074 .love-kinsta .container .content .text,
    .page-id-53074 .migrate-more .container .content .figure,
    .page-id-53074 .migrate-more .container .content .text {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }

    .page-id-53074 .high-performance .container .content .figure {
        padding: 50px 100px 0;
    }

    .page-id-53074 .hero-banner .container .content .text {
        margin-bottom: 30px;
    }

    .page-id-53074 section.hero-banner {
        padding-top: 100px;
    }

    .page-id-53074 .hassle-free .container .content .figure {
        display: none;
    }

    .page-id-53074 .hassle-free .text .list {
        align-items: center;
    }

    .page-id-53074 .high-performance .text .head h2,
    .page-id-53074 .hassle-free .text .head h2,
    .page-id-53074 .migrate-more .title h2 {
        font-size: 32px;
        line-height: 43.2px;
    }

    .page-id-53074 .love-kinsta .text .head h2 {
        font-size: 28px;
        line-height: 39.2px;
    }

    .page-id-53074 .performance-card .container .content {
        flex-direction: column;
        gap: 30px
    }

    .page-id-53074 .performance-card .container {
        top: -13%;
    }

    .page-id-53074 .performance-card .container .card .paragraph {
        min-height: 100px;
    }

    .page-id-53074 section.performance-card {
        height: 1020px;
    }

    .page-id-53074 .performance-card .container .content {
        padding: 0px 65px 60px;
    }

    .page-id-53074 .love-kinsta .figure {
        padding-right: 0px;
    }

    .page-id-53074 .love-kinsta .cards.mobile {
        display: inline-flex;
    }

    .page-id-53074 .love-kinsta .container .content-mobile {
        padding: 40px 25px 100px;
    }

    .page-id-53074 .love-kinsta .cards.desktop {
        display: none;
    }

    .page-id-53074 .love-kinsta .cards.mobile .card {
        min-height: 250px;
        padding: 40px 20px 20px;
    }

    .page-id-53074 .migrate-more .container .content,
    .page-id-53074 .love-kinsta.kinsta-1 .container .content,
    .page-id-53074 .love-kinsta .container .content,
    .page-id-53074 .hassle-free.gregghosting-plan .container .content {
        flex-direction: column-reverse;
        display: flex;
        gap: 20px;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .container .content {
        gap: 40px;
    }

    .page-id-53074 .migrate-more .title {
        margin-bottom: 20px;
    }

    .page-id-53074 .migrate-more .container .content .figure .img {
        padding: 10px 0px;
    }

    .page-id-53074 .love-kinsta.kinsta-1 .text {
        padding-left: 0px;
        text-align: center;
    }

    .page-id-53074 .high-performance.top-notch-security {
        background-color: #f1f5fe;
    }

    .page-id-53074 .performance-card.top-notch .container .card .paragraph {
        min-height: 60px;
    }

    .page-id-53074 .gap {
        display: none;
    }

    .page-id-53074 .performance-card.top-notch .container .card h2 {
        height: 100%;
    }

    .page-id-53074 .performance-card.top-notch .container .content {
        padding-bottom: 0px;
    }

    .page-id-53074 section.performance-card.top-notch {
        height: 860px;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .container .content .figure {
        display: block;
        width: 100%;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .figure .img .gh-h,
    .page-id-53074 .love-kinsta .figure .img img {
        padding: 0px;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .text .list {
        align-items: flex-start;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .container .content .text {
        text-align: left;
    }

    .page-id-53074 .migrate-more.perform-migration .title h2 {
        font-size: 28px;
        line-height: 37.8px;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content .text {
        text-align: left;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content {
        gap: 5px;
        flex-direction: column;
    }

    .page-id-53074 .migrate-more.perform-migration .contents .footer-text {
        font-size: 18px;
        line-height: 25.2px;
    }

    .page-id-53074 .migrate-more.perform-migration .contents .title p {
        font-size: 14px;
        line-height: 19.6px;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content {
        display: flex;
        flex-direction: column;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content .text,
    .page-id-53074 .high-performance.migrate-dashboard .container .content .figure {
        width: 100%;
        padding: 0px;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content .text p {
        justify-content: flex-start;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content {
        gap: 30px;
    }

    .page-id-53074 .migration .agency_pages .looking-top-table-content.why-page-cont {
        width: 330px !important;
    }

    .page-id-53074 .migration.elementor-element-18d1af2 #agency_pages .rating-car-rates {
        display: flex !important;
    }

    .page-id-53074 section.migrate-more.wordpress-sites .content .head h2 {
        font-size: 32px;
        line-height: 41.6px;
    }

    .page-id-53074 section.migrate-more.wordpress-sites::before {
        width: 204.79px !important;
        height: 204.79px !important;
        transform: rotate(-120deg);
        right: -95px !important;
        top: -49px !important;
    }

    .page-id-53074 section.migrate-more.wordpress-sites::after {
        left: -69px;
        bottom: -105px;
        width: 194px !important;
        height: 194px !important;
    }

    .page-id-53074 .love-kinsta .text {
        text-align: center;
    }

    .page-id-53074 header .main-header .navbar .sub-main ul li a.iq-button.login {
        color: #002576 !important;
    }

}

/*/for 480 screen design/*/
@media (max-width: 680px) {

    .page-id-53074 .hero-banner .container .content,
    .page-id-53074 .hassle-free .container .content,
    .page-id-53074 .high-performance .container .content,
    .page-id-53074 .performance-card .container .content,
    .page-id-53074 section.migrate-more.wordpress-sites .content,
    .page-id-53074 .love-kinsta.kinsta-1 .container .content {
        padding: 60px 15px;
    }

    .page-id-53074 .migration .elementor-col-100.elementor-element-8217312 .elementor-widget-wrap.elementor-element-populated {
        padding: 60px 0px !important;
    }

    .page-id-53074 .love-kinsta .container .content {
        padding-top: 60px;
    }

    .page-id-53074 .love-kinsta .container .content-mobile {
        padding: 30px 15px 60px;
    }

    .page-id-53074 section.hero-banner {
        padding-top: 80px;
    }

    .page-id-53074 .performance-card .container .content {
        padding: 0 15px 60px;
    }

    .page-id-53074 .migrate-more .container .contents {
        padding: 60px 15px 45px;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .container .content {
        padding: 0 15px 60px;
    }

    .page-id-53074 .hero-banner .container .head h2 {
        font-size: 28px;
        line-height: 33.6px;
    }

    .page-id-53074 .love-kinsta .text .head h2,
    .page-id-53074 .migrate-more .title h2 {
        font-size: 24px;
        line-height: 33.4px;
    }

    .page-id-53074 .hero-banner .container .content,
    .page-id-53074 .hassle-free .container .content,
    .page-id-53074 .high-performance .container .content {
        display: block;
        margin: auto;
    }

    .page-id-53074 .hero-banner .container .content .text,
    .page-id-53074 .hero-banner .container .content .figure,
    .page-id-53074 .hassle-free .container .content .text,
    .page-id-53074 .high-performance .container .content .figure,
    .page-id-53074 .high-performance .container .content .text,
    .page-id-53074 .migrate-more .container .content .figure,
    .page-id-53074 .migrate-more .container .content .text {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }

    .page-id-53074 .high-performance .container .content .text {
        padding-right: 0px;
    }

    .page-id-53074 .high-performance .container .content .figure {
        padding: 50px 50px 0;
    }

    .page-id-53074 .hero-banner .container .content .text {
        margin-bottom: 30px;
    }

    .page-id-53074 .hero-banner .container .figure .img::after {
        display: none;
    }

    .page-id-53074 .high-performance .text .head h2,
    .page-id-53074 .hassle-free .text .head h2 {
        font-size: 24px;
        line-height: 32.4px;
    }

    .page-id-53074 .hassle-free .container .content .figure {
        display: none;
    }

    .page-id-53074 .hassle-free .text .list p {
        text-align: left;
    }

    .page-id-53074 .performance-card .container .content {
        flex-direction: column;
        gap: 30px;
    }

    .page-id-53074 .performance-card .container {
        top: -10%;
    }

    .page-id-53074 .performance-card .container .card .paragraph {
        min-height: 100px;
    }

    .page-id-53074 section.performance-card {
        height: 1100px;
    }

    .page-id-53074 .performance-card .container .content {
        padding: 0px 25px 60px;
    }

    .page-id-53074 .love-kinsta .figure {
        padding-right: 0px;
    }

    .page-id-53074 .love-kinsta .cards.mobile {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .page-id-53074 .love-kinsta .container .content-mobile {
        padding: 40px 25px 100px;
    }

    .page-id-53074 .love-kinsta .cards.desktop {
        display: none;
    }

    .page-id-53074 .love-kinsta .cards.mobile .card {
        min-height: 225px;
        padding: 40px 60px 20px;
    }

    .page-id-53074 .migrate-more .container .content,
    .page-id-53074 .love-kinsta.kinsta-1 .container .content,
    .page-id-53074 .love-kinsta .container .content,
    .page-id-53074 .hassle-free.gregghosting-plan .container .content {
        flex-direction: column-reverse;
        gap: 20px;
        display: flex;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .container .content {
        gap: 40px;
    }

    .page-id-53074 .migrate-more .title {
        margin-bottom: 10px;
    }

    .page-id-53074 .migrate-more .container .content .figure .img {
        padding: 10px 0px;
    }

    .page-id-53074 .love-kinsta.kinsta-1 .text {
        padding-left: 0px;
        text-align: center;
    }

    .page-id-53074 .high-performance.top-notch-security {
        background-color: #f1f5fe;
    }

    .page-id-53074 .performance-card.top-notch .container .card .paragraph {
        min-height: 60px;
    }

    .page-id-53074 .gap {
        display: none;
    }

    .page-id-53074 .performance-card.top-notch .container .content {
        padding-bottom: 0px;
    }

    .page-id-53074 section.performance-card.top-notch {
        height: 980px;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .container .content .figure {
        display: block;
        width: 100%;
    }

    .page-id-53074 .hassle-free.gregghosting-plan .figure .img .gh-h,
    .page-id-53074 .love-kinsta .figure .img img {
        padding: 0px;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content .text {
        text-align: left;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content {
        gap: 5px;
        flex-direction: column;
    }

    .page-id-53074 .migrate-more.perform-migration .contents .footer-text {
        font-size: 18px;
        line-height: 25.2px;
    }

    .page-id-53074 .migrate-more.perform-migration .contents .title p {
        font-size: 14px;
        line-height: 19.6px;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content {
        display: flex;
        flex-direction: column;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content .text,
    .page-id-53074 .high-performance.migrate-dashboard .container .content .figure {
        width: 100%;
        padding: 0px;
    }

    .page-id-53074 .migrate-more.perform-migration .container .content .text p {
        justify-content: flex-start;
    }

    .page-id-53074 .high-performance.migrate-dashboard .container .content {
        gap: 30px;
    }

    .page-id-53074 .migration.elementor-element-18d1af2 #agency_pages .rating-car-rates {
        display: flex !important;
    }

    .page-id-53074 .migration #agency_pages .looking-top-table-content.why-page-cont {
        max-width: 440px !important;
        width: 100% !important;
    }

    .page-id-53074 section.migrate-more.wordpress-sites .content .head h2 {
        font-size: 24px;
        line-height: 31.2px;
    }

    .page-id-53074 section.migrate-more.wordpress-sites::before {
        width: 204.79px !important;
        height: 204.79px !important;
        transform: rotate(-120deg);
        right: -95px !important;
        top: -49px !important;
    }

    .page-id-53074 section.migrate-more.wordpress-sites::after {
        left: -69px;
        bottom: -105px;
        width: 194px !important;
        height: 194px !important;
    }

    .page-id-53074 .migration.small-business-testi section#agency_pages .owl-carousel .owl-nav .owl-next {
        right: 30px !important;
    }

    .page-id-53074 .migration.small-business-testi section#agency_pages .owl-carousel .owl-nav .owl-prev {
        left: 30px !important;
    }

    .page-id-53074 .love-kinsta .text {
        text-align: center;
    }

    .page-id-53074 #main-header a.navbar-brand {
        top: 0px;
    }

    .page-id-53074 #main-header a.navbar-brand img {
        display: none;
    }

    .page-id-53074 #main-header a.navbar-brand::after {
        position: absolute;
        content: url(https://gregghosting.com/wp-content/themes/qloud-child/migration-file/css/../svg/GG-logo.svg);
        top: 50%;
        transform: translateY(-50%);
        height: 32px;
    }

    .page-id-53074 .high-performance .img::after,
    .page-id-53074 .hassle-free .img::after {
        width: calc(100% - 45px);
        height: calc(100% + 10px);
        top: -5px;
    }

    .page-id-53074 .migrate-more .table-head span {
        font-size: 14px;
        line-height: 19.6px;
    }
}

@media (max-width: 480px) {
    .page-id-53074 .header_top_area .container {
        height: 100% !important;
    }

    .page-id-53074 .performance-card .container .card .logo {
        margin-bottom: 25px;
    }

    .page-id-53074 section.performance-card {
        height: 1100px;
    }

    .page-id-53074 section.performance-card.top-notch {
        height: 970px;
    }
}

@media (max-width: 420px) {
    .page-id-53074 section.performance-card {
        height: 1240px;
    }

    .page-id-53074 section.performance-card.top-notch {
        height: 1080px;
    }

    .page-id-53074 .performance-card .container {
        top: -7%;
    }

    .page-id-53074 .migration.small-business-testi section#agency_pages .owl-carousel .owl-nav .owl-next {
        right: 5px !important;
    }

    .page-id-53074 .migration.small-business-testi section#agency_pages .owl-carousel .owl-nav .owl-prev {
        left: 5px !important;
    }
}